@font-face {
    font-family: "Roboto-Regular";
    font-weight: bold;
    src: url("Roboto-Regular.ttf")
}
body {
    margin: 0px;
    font-family: "Roboto-Regular";
    font-weight: normal;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: "#20203F";
    img: width "100%";
    figure: margin 0px;
}

/*let htmlStart = "<HTML><HEAD><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"><link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700\" rel=\"stylesheet\"><style>body {font-family: Roboto;font-style: normal;font-weight: normal;font-size: \(UIScreen.getUnit(14))px;line-height: \(UIScreen.getUnit(21))px;color: #20203F;margin: 0;} img {width:100%} figure {margin: 0}</style></HEAD><BODY>"*/
            
